<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- local CSS -->
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <title>Makerspace Queue</title>
  </head>
  <body>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

    <h1 style="text-align:center;">3D Print Queue</h1>
    <table class="table table-sm">
        <thead>
            <tr>
            <th scope="col">Title</th>
            <th scope="col">Submitted By</th>
            <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            {{range .Items}}
                {{if (eq .Status "Submitted")}}
                    <tr class="table-danger">
                {{else if (eq .Status "Reviewed and Approved")}}
                    <tr class="table-info">
                {{else if (eq .Status "Printing")}}
                    <tr class="table-warning">
                {{else if (eq .Status "Ready for Pickup")}}
                    <tr class="table-active">
                {{else}}
                    <tr class="table">
                {{end}}
                    <td><strong>{{.Title}}</strong></td>
                    <td>{{.FirstName}}</td>
                    <td>{{.Status}}</td>
                </tr>        
            {{end}}
        </tbody>
    </table>
    <style>
    body {
        /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
        background-color: #5b9390 !important;
        color: #fff !important;
        }

        body td {
        color: #000 !important;
        }

        a {
        color: #00B7FF;
        }
    </style>
  </body>
</html>